 *{
  margin: 0;
}
body {
  overflow: auto;
  font-family: 'Poppins', sans-serif;
  background-color: #51b5d1b1;
  color: black;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
main{
  padding: 0 10px;
}

.dark{
  background-color: rgb(0, 0, 0);
  color: white;
}

