 *{
  margin: 0;
}
body {
  overflow: auto;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(71, 190, 223, 0.662);
  color: black;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.dark{
  background-color: rgb(0, 0, 0);
  color: white;
}