.gameContainer{
    display: flex;
    justify-content: space-around;
    h2{
       color: black;
       font-size: 35px;
       text-align: center;
      }
      p{
         color: black;
         font-size: 20px;
         text-align: center;
      }
   }
.homeFlashcard, .homeMatching, .homeCrossword{
   border: 2px solid black;
   border-radius: 15px;
   margin: 5px;
   padding: 5px;
}